.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  font-size: 5em;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  display: inline-block;
}
#game-board.turn-x .box:empty:hover {
  background-color: #7aeff6; 
}
#game-board.turn-o .box:empty:hover {
  background-color: #f67a7a;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 3px;
  width: max-content;
  margin: 20px auto;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
